body {
  /* width: 80%; */
  background-color: #000;
}

/* header from here */
header{
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sankaku1 {
  position: absolute;
  display: table;
  top: -10%;
  width: 100%;
  height: 20%;
  /* transform: skewY(-20deg); */
  background-color: #f0802280;
  z-index: 1;
}
.sankakunoshita1{
  position: absolute;
  display: table;
  top: 11%;
  width: 100%;
  height: 1%;
  /* transform: skewY(-20deg); */
  background-color: #f0802280;
  z-index: 1;
}
.top{
  display: flex;
  width: 100%;
  align-items: center;
}
li{
  list-style: none;
  margin-left: 3%;
}
.top .link a{
  text-decoration: none;
  color: #fff;
  font-family: ‘Courier New’, Courier, monospace;
  font-size: 140%;
  letter-spacing: 2px;
}
.top .link a:hover{
  color: #C0C0C0;
  transition: .2s;
}
.link{
  width: 100%;
  display: flex;
  margin-top: 1%;
  margin-left: 8%;
}
header p{
  width: 100%;
  text-align: center;
  animation: in 3s forwards;
}
header p a{
  text-decoration: none;
  color: #000;
  width: 100%;
  font-size: 250%;
  font-family: STKaiti;
  letter-spacing: 10px;
  text-align: center;
  margin-right: 3%;
}
header p a:hover{
  text-shadow: 0 0 0.8px#000;
}
@keyframes in{
  from{
      opacity: 0;
      transform: translateX(0);
  }
  to{
      opacity: 1;
      transform: translateX(25%);
  }
}
header img{
  width: 200px;
  height: auto;
  margin: 7% 10%;
}
/* header end */

.article {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
}

.chara_intro {
  margin-top: 2rem;
  margin-bottom: 0;
  width: 100%;
  border-left :solid 15px orange;
  border-bottom: solid 1px gray;
  padding: 10px;
  font-size: 4rem;
  font-weight: bold;
  background-color: #ffffff90;
  font-family: 'Reggae One', cursive;
  zoom: 0.5;
}

.intro_hinata_img {
  height: 1000px;
  opacity: 0;
  transition-duration: 2000ms;
  transition-property: opacity, transform;
  margin-top: 0;
  margin-left: 3rem;
  zoom: 0.5;
}

.intro_hinata_con {
  width: 60%;
  margin-top: 5rem;
  margin-left: 5rem;
  font-size: 2rem;
  font-family: 'Reggae One', cursive;
  opacity: 0;
  transition-duration: 4000ms;
  transition-property: opacity, transform;
  zoom: 0.5;
}

.intro_hinata_con2 {
  margin-top: 5rem;
  margin-left: 2rem;
  font-size: 2rem;
  font-family: "Hiragino Kaku Gothic ProN", "Arial", "Meiryo", sans-serif;
  opacity: 0;
  transition-duration: 5000ms;
  transition-property: opacity, transform;
  /* font-family: 'Reggae One', cursive; */
}

.fade-in-right {
  transform: translate(50px, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.chara_intro_con {
  height: 600px;
  width: auto;
}

.back-image {
  position: relative;
  height: 600px;
  background-image: url('./images/back.png');
  /* opacity:0; */
  animation-name: back_move;
  animation-duration:5s; 
  /* animation-iteration-count: infinite; */
  z-index: 0;
  margin-bottom: 200px;
}

@keyframes back_move {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50%{
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  /* opacity:0;
  transform: translateX(50px); */
  } 
}

.contents {
  margin-top: 5rem;
  animation-delay: 2s;
  position: relative;
  /* height: 1240px; */
  font-size:40px;
  /* opacity:0;
  animation-name: cont_move;
  animation-duration:5s;  */
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
}

@keyframes cont_move {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50%{
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  /* opacity:0;
  transform: translateX(50px); */
  } 
}

.image {
  /* margin-top: 15rem; */
  width: 90%;
  height: 500px;
  /* position: relative; */
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 9rem;
  margin: auto;
}

.hinata {
  position: absolute;
  z-index: 2;
  top: 0;
  /* left: 850px; */
  left: 50%;
  transform: translateX(-55%);
  filter: contrast(55%);
  zoom: 0.5;
}

.sawamura {
  position: absolute;
  top: 0;
  /* left: 1550px; */
  z-index: 0;
  /*  base */
  left: 50%;
  transform: translateX(83%);
  filter: contrast(55%);
  zoom: 0.5;
}

.azumane {
  position: absolute;
  top: 0;
  /* left: 1350px; */
  z-index: 0;
  /*  base */
  left: 50%;
  transform: translateX(49%);
  filter: contrast(55%);
  zoom: 0.5;
}

.sugawara {
  position: absolute;
  top: 0;
  /* left: 1300px; */
  z-index: 1;
  /*  base */
  left: 50%;
  transform: translateX(68%);
  filter: contrast(55%);
  zoom: 0.5;
}

.kageyama {
  position: absolute;
  top: 0;
  /* left: 1050px; */
  z-index: 0;
  left: 50%;
  transform: translateX(-5%);
  filter: contrast(55%);
  zoom: 0.5;
}

.tanaka {
  position: absolute;
  top: 0;
  /* left: 600px; */
  z-index: 0;
  /*  base */
  left: 50%;
  transform: translateX(-112%);
  filter: contrast(55%);
  zoom: 0.5;
}

.yamaguchi {
  position: absolute;
  top: 0;
  /* left: 500px; */
  z-index: 0;
  /*  base */
  left: 50%;
  transform: translateX(-173%);
  filter: contrast(55%);
  filter: contrast(55%);
  zoom: 0.5;
}

.tukishima {
  position: absolute;
  top: 0;
  /* left: 300px; */
  z-index: 0;
  /*  base */
  left: 50%;
  transform: translateX(-235%);
  filter: contrast(55%);
  zoom: 0.5;
}

.nishinoya {
  position: absolute;
  top: 0;
  /* left: 150px; */
  z-index: 1;
  /*  base */
  left: 50%;
  transform: translateX(-273%);
  filter: contrast(55%);
  zoom: 0.5;
}

.mouse_area {
  /* margin-top: 15rem; */
  width: 90%;
  height: 500px;
  /* position: relative; */
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 9rem;
  margin: auto;
  /* margin-top: 20rem; */
  /* width: 100%;
  position: relative; */
  z-index: 20;
}

.l_emp_box {
  position: absolute;
  margin-top: 150px;
  /* left: 1750px; */
  width: 20px;
  height: 850px;
  left: 50%;
  transform: translateX(-4040%);
  /* border: 1px solid #000; */
  zoom: 0.5;
}

.nishi_box {
  position: absolute;
  margin-top: 150px;
  /* left: 150px; */
  width: 200px;
  height: 850px;
  left: 50%;
  transform: translateX(-465%);
  /* border: 1px solid #000; */
  zoom: 0.5;
}

.tuki_box {
  position: absolute;
  margin-top: 0;
  /* left: 350px; */
  width: 200px;
  height: 1000px;
  left: 50%;
  transform: translateX(-365%);
  /* border: 1px solid #000; */
  zoom: 0.5;
} 

.yama_box {
  position: absolute;
  margin-top: 50px;
  /* left: 550px; */
  width: 200px;
  height: 950px;
  left: 50%;
  transform: translateX(-265%);
  /* border: 1px solid #000; */
  zoom: 0.5;
}

.tanaka_box {
  position: absolute;
  margin-top: 73px;
  /* left: 750px; */
  width: 200px;
  height: 927px;
  left: 50%;
  transform: translateX(-165%);
  /* border: 1px solid #000; */
  zoom: 0.5;
}

.hinata_box {
  position: absolute;
  margin-top: 115px;
  /* left: 950px; */
  width: 200px;
  height: 885px;
  left: 50%;
  transform: translateX(-65%);
  /* border: 1px solid #000; */
  zoom: 0.5;
}

.kageyama_box {
  position: absolute;
  margin-top: 40px;
  /* left: 1150px; */
  width: 200px;
  height: 960px;
  left: 50%;
  transform: translateX(35%);
  /* border: 1px solid #000; */
  zoom: 0.5;
}

.sugawara_box {
  position: absolute;
  margin-top: 100px;
  /* left: 1350px; */
  width: 200px;
  height: 900px;
  left: 50%;
  transform: translateX(135%);
  /* border: 1px solid #000; */
  zoom: 0.5;
}

.azumane_box {
  position: absolute;
  margin-top: 0;
  /* left: 1550px; */
  width: 200px;
  height: 1000px;
  left: 50%;
  transform: translateX(235%);
  /* border: 1px solid #000; */
  zoom: 0.5;
}

.sawamura_box {
  position: absolute;
  margin-top: 80px;
  /* left: 1750px; */
  width: 200px;
  height: 920px;
  left: 50%;
  transform: translateX(335%);
  /* border: 1px solid #000; */
  zoom: 0.5;
}

.r_emp_box {
  position: absolute;
  margin-top: 80px;
  /* left: 1750px; */
  width: 85px;
  height: 920px;
  left: 50%;
  transform: translateX(990%);
  /* border: 1px solid #000; */
  zoom: 0.5;
}

.fukidashi_com {
  position: absolute;
  left: 0;
  right: 0;
  top: 0rem;
  margin: auto;
  zoom: 0.7;
}

.fukidashi {
  position: absolute;
  margin-top: 0;
  width: 25rem;
  z-index: 50;
  visibility: hidden;
  zoom: 0.7;
}

.intro1 {
  position: absolute;
  /* margin-top: 0; */
  /* width: 25rem; */
  font-size: 1.9rem;
  z-index: 60;
  font-family: 'Reggae One', cursive;
  zoom: 0.7;
}

.intro2 {
  position: absolute;
  /* margin-top: 0; */
  /* width: 25rem; */
  font-size: 1.9rem;
  z-index: 60;
  font-family: 'Reggae One', cursive;
  zoom: 0.7;
}

.intro3 {
  position: absolute;
  /* margin-top: 0; */
  /* width: 25rem; */
  font-size: 1.9rem;
  z-index: 60;
  font-family: 'Reggae One', cursive;
  zoom: 0.7;
}

.triangle_rs {
  position: absolute;
  right: 0%;
  top: 15rem;
  margin: auto;
  width: 10%;
  height: 1000px;
  background-color: #f0802250;
  z-index: 30;
  zoom: 0.5;
}

.triangle_rf {
  position: absolute;
  right: 0;
  top: 15rem;
  margin: auto;
  width: 5%;
  height: 1000px;
  z-index: 40;
  zoom: 0.5;
} */

.triangle_ls {
  position: absolute;
  left: 0%;
  top: 15rem;
  margin: auto;
  width: 10%;
  height: 1000px;
  background-color: #f0802250;
  z-index: 30;
  zoom: 0.5;
}

.triangle_lf {
  position: absolute;
  left: 0;
  top: 15rem;
  margin: auto;
  width: 5%;
  height: 1000px;
  z-index: 40;
  zoom: 0.5;
}

/* footer from here */
footer{
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
footer p{
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  text-align: center;
}
/* footer end */